*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;   /* убирает системный стиль */
  border: none;       /* убирает рамку */
  background: none;   /* убирает фон */
  padding: 0;         /* убирает внутренние отступы */
  font: inherit;      /* наследует шрифт от родителя */
  color: inherit;     /* наследует цвет текста */
  cursor: pointer; 
}


ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.page {
  display: flex;
}

.result {
  margin-right: 30px;
  margin-top: 211px;

}

.content {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.content__list {
  display: grid;
  gap: 30px;
  padding: 3px;
  padding-right: 7px;
}

.result__video {
  width: 711px;
  height: 486px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  min-height: 103px;
  min-width: 196px;
}

.content__list-container {
  display: grid;
  width: 398px;
  height: 290px;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
  font-family: "Oswald";
  margin-top: 133px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* видео заполняет контейнер */
}

.content__video-card {
  display: flex;
  /* включаем флекс-сетку */
  flex-direction: row;
  /* элементы в строку */
  align-items: flex-start;
  /* прижать к верху контейнера */
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  /* занимает всё свободное пространство */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  /* label */


  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

a.content__card-link {
  color: inherit;
  /* наследовать цвет текста от родителя */
  text-decoration: none;
  /* убрать подчёркивание */
    display: block;
}

.content__card-link_current{
  background-color: #545050;
}


.content__video-card-description-container:hover{
    text-decoration: underline;
}

.content__card-link_current:focus-visible{
  outline: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  /* title */

  width: 259px;
  height: 210px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  /* or 70px */
  text-transform: uppercase;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 26px;
}

.title span {
  color: #545050;
}

.content__video-card-title {
  /* Белгород */

  width: 196px;
  height: 30px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */
  text-transform: uppercase;

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  ;

  /* обработка переполнения */
  overflow: hidden;
  /* скрываем лишний текст */
  white-space: nowrap;
  /* не переносим строку */
  text-overflow: ellipsis;
  /* заменяем лишнее на "…" */
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* значение из макета */
  color: #FFFFFF;

  display: -webkit-box;
  /* включаем блочную модель для line-clamp */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* ограничиваем количество строк, например 2 */
  overflow: hidden;
  /* скрываем лишний текст */
  text-overflow: ellipsis;
  /* добавляем многоточие */
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  margin-top: -1px;
}


.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

input[type="text"] {
  width: 225px;
  /* ширина поля */
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  /* убираем все границы */
  border-top: 1px solid #ccc;
  /* верхняя граница */
  border-bottom: 1px solid #ccc;
  /* нижняя граница */
  background-color: #1b1919;
  /* фон */
  /* цвет текста */
  font-family: Arial, sans-serif;
  /* шрифт */
  font-size: 14px;
  /* размер шрифта */
  appearance: none;
}

.search-form__textfield::placeholder {
/* Санкт-Петербург, например */

width: 211px;
height: 22px;

font-family: 'Fira Sans Condensed';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  /* цвет подсказки */
}

/* сброс стандартного outline при фокусе */
.search-form__textfield:focus {
  outline: none;
}

/* хитрый приём: лейбл получает рамку, если внутри него поле в состоянии :focus-visible */
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  /* рамка вокруг лейбла */
  outline-offset: 4px;
  /* отступ рамки от содержимого */
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;   /* рамка квадрата */
  padding: 8px;
  display: inline-block;
  position: relative;
}

.search-form__pseudo-checkbox::after{
  display: block;       
  content: "";
  background-color: white;
  padding: -2px;
  opacity: 0;
  position: absolute;
  top: 2px;    /* отступ сверху */
  left: 2px;   /* отступ слева */
  right: 2px;  /* отступ справа */
  bottom: 2px; /* отступ снизу */
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1; /* квадрат становится полностью видимым */
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:focus{
    outline: 1px solid #fff;
  outline-offset: 4px;
}

.button{
  /* Найти */

font-family: 'Fira Sans Condensed';
 background-color: transparent;
 border: 1px solid white;

}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible{
  outline: 1px solid white;
 outline-offset: 2px; 
}

.search-form__submit-button{
  width: 194px;
  height: 34px;
  align-self: flex-end;  /* прижимаем кнопку к нижнему краю контейнера */
}
.more-button{
  width: 100%;          /* растягиваем на всю ширину контейнера */
  height: 33px;  
}

.search-form__label{
  cursor: pointer;
}

.preloader{
   width: 100%;   /* перекрывает весь контейнер */
  height: 100%;  /* перекрывает весь контейнер */
}

.result__video-container{
  position: relative;
}
.content__list-container {
  position: relative; /* и внутри этого блока */
}